* {
  box-sizing: border-box ;
  padding: 0;
  border: 0;
}

body {
  max-width: 100vw;
  height: 100vh;
  background-color: #303a3d;
  color: rgb(68, 39, 39);
  display: grid;
  place-items: center;
}